#mapid{
    
    height: 500px;
    width: 80%; 
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 100;
    margin-top: 8;
    background:url(Cultivo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.navegador{
    width: 1000px;
    margin: 30px auto;
    background: #dcdcdc;
}

.navegador ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: #41d613;
    transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: rgb(13, 161, 13);
    font-size: 50px;
    font-weight: 500;
    font-family: cursive;
}

.titulo2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: #00ff7f;
}

p{
    color: #7cfc00;
    font-size: 50px;
    font-weight: 500;
    font-family: cursive;
}

.parrafo{
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 20px;
    color:#000000;
    font-weight: 700;
}

.subtitulo{
    margin: 0;
    color: darkgreen;
    font-size: 70px;
    font-weight: 700;
    font-family: cursive;
}

.imagen{
    width: 300px;
    height: 300px;
    border: 5px solid lightseagreen;
}

div#general{
    margin: auto;
    text-align: justify;
    background-position: center;
}

.redes{
    height: 200px;
    padding: 30px;
}

.redes h6{
    font-family: serif;
    text-align: center;
    font-weight: bold;
}

.sociales{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sociales li{
    display: inline-block;
}

.sociales a{
    padding: 10px;
}

h6{
    margin: 0;
    text-align: center;
    font-family: cursive;
    color: darkslategrey;
    font-size: 40px;
    font-weight: 200;
    

}
